.header {
  border-bottom: 6px solid $base-text-colour;
  margin-bottom: $default-spacing;

  .container {
    padding: 0;
  }

  .logo-container {
    display: flex;
    justify-content: center;

    svg {
      color: $primary-colour;
      width: 4rem;
      height: 4rem;
    }

    .logo {
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
  }
}
